<?xml version="1.0" encoding="utf-8"?><!--
  ~ This project is licensed under the open source MPL V2.
  ~ See https://github.com/openMF/android-client/blob/master/LICENSE.md
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mifos.mifosxdroid"
    android:versionCode="3"
    android:versionName="0.4.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.mifos.App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialAppTheme">

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.DashboardActivity"
            android:label="@string/dashboard"
            android:theme="@style/TraslucentActionBarTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.SurveyQuestionViewPager"
            android:label="Survey"
            android:screenOrientation="portrait" />

        <activity
            android:name=".online.GroupsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".online.ClientActivity"
            android:label="@string/title_activity_client"
            android:screenOrientation="portrait" />

        <activity
            android:name=".online.CentersActivity"
            android:label="@string/title_activity_centers"
            android:parentActivityName=".online.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".online.DashboardActivity" />
        </activity>


        <activity
            android:name=".online.GenerateCollectionSheetActivity"
            android:label="@string/title_activity_generate_collection_sheet"
            android:parentActivityName=".online.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".online.DashboardActivity" />
        </activity>
        <activity
            android:name=".ClientListActivity"
            android:label="@string/clients"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupListActivity"
            android:label="@string/groups"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyActivity"
            android:label="@string/survey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pinpointclient.PinpointClientActivity"
            android:label="@string/pinpoint"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PathTrackingActivity"
            android:label="@string/track_path"
            android:screenOrientation="portrait" />

        <activity android:name=".offline.syncclientpayloads.SyncClientPayloadActivity"
                  android:label="@string/sync_clients"
                  android:screenOrientation="portrait" />

        <activity android:name=".offline.syncgrouppayloads.SyncGroupPayloadsActivity"
                  android:label="@string/sync_groups"
                  android:screenOrientation="portrait" />

        <activity android:name=".offline.syncloanrepaymenttransacition.SyncLoanRepaymentTransactionActivity"
                  android:label="@string/sync_loanrepayments"
                  android:screenOrientation="portrait" />

        <service android:name=".LocationService" />

        <meta-data
            android:name="DATABASE"
            android:value="mifos.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="ENCRYPTION_KEY"
            android:value="TEMP_DATA_ENCRYPTION_KEY" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.mifos.objects.db" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="b781afbde2e7db1df8455861d3f5d59c158f3bff" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAfMi31d35olEcgYDRTB28gXV8kbH7LOMw" />
    </application>

</manifest>
