<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mifos.mifosxdroid"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mifosxactionbar" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.LogoutActivity"
            android:label="@string/logout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.DashboardFragmentActivity"
            android:label="Dashboard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroupActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoanActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="DATABASE"
            android:value="mifos.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="ENCRYPTION_KEY"
            android:value="TEMP_DATA_ENCRYPTION_KEY" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.mifos.objects.db" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".online.ClientActivity"
            android:label="@string/title_activity_client"
            android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".OfflineCenterInputActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".online.CentersActivity"
            android:label="@string/title_activity_centers"
            android:parentActivityName=".online.DashboardFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mifos.mifosxdroid.online.DashboardFragmentActivity" />
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="b781afbde2e7db1df8455861d3f5d59c158f3bff" />

        <activity
            android:name=".online.GenerateCollectionSheet"
            android:label="@string/title_activity_generate_collection_sheet"
            android:parentActivityName=".online.DashboardFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mifos.mifosxdroid.online.DashboardFragmentActivity" />
        </activity>
        <activity
                android:name=".CenterListActivity"
                android:screenOrientation="portrait"/>
    </application>

</manifest>
